@import "main";

body {
  font: var(--font-m);
  color: var(--primary-color);
}
.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}
.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--article_card_bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-muted);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
