.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  transition: all .2s ease-in-out;

  &:hover {
    opacity: .7;
  }
}

.outline {
  padding: 10px 20px;
  background: none;
  border-radius: 5px;
  border: 2px solid var(--primary-color);
}
