.Sidebar {
  width: var(--sidebar-width);
  background-color: var(--bg-color-sidebar);
  position: relative;
  height: 100%;
  transition: all 0.2s ease;
  display: flex;
}

.switcher {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border-top: 1px solid var(--bg-color);

  button {
    margin: 7px;
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switcher {
    flex-direction: column;
  }
}
