.Sidebar {
  width: var(--sidebar-width);
  background-color: var(--bg-color-sidebar);
  position: relative;
  height: 100%;
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.switcher {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100%;
  border-top: 1px solid var(--bg-color);

  button {
    margin: 7px;
  }
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .link {
    margin-left: 10px;
    opacity: 1;
  }

  &__wrapper {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
}

.icon {
  fill: var(--secondary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switcher {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: all .2s ease-in-out;
  }
}
