.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: all .2s ease;
  &:hover {
    color: #fff;
    svg {
      fill: #fff;
    }
  }

  .link {
    margin-left: 10px;
    opacity: 1;
  }
}

.icon {
  fill: var(--secondary-color);
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
    transition: all .2s ease-in-out;
  }
}
