.ListBox {
  position: relative;
}

.trigger {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.options {
  background-color: var(--skeleton-color);
  position: absolute;
  z-index: 1000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--primary-text-color);
}

.item {
  padding: 10px 20px;
}

.active {
  background-color: var(--secondary-color);
  border-radius: 12px;
}

.disabled {
  opacity: .4;
  background-color: #2d312dff;
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  bottom: 100%;
  right: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}
