.app.dark {
  --bg-color: #0d1117;
  --bg-color-accent: #010409;
  --bg-color-header: #2d333b;
  --bg-color-muted: #373e47;
  --primary-color: #c9d1d9;
  --secondary-color: #8b949e;
  --accent-color: #3178c6;
  --inverted-bg-color: #fff;
}