.app_theme_dark {
  --bg-color: #0d1117;
  --bg-color-accent: #010409;
  --bg-color-sidebar: #22272e;
  --bg-color-header: #2d333b;
  --bg-color-muted: #373e47;
  --primary-color: #c9d1d9;
  --primary-text-color: #fff;
  --secondary-color: #8b949e;
  --accent-color: #3178c6;
  --link-hover-color: rgb(205 217 229 / 90%);

  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}
