.app_theme_default {
  --bg-color: #f6f8fa;
  --bg-color-accent: #f6f8fa;
  --bg-color-sidebar: #fff;
  --bg-color-header: #dddfe1;
  --bg-color-muted: #6e7781;
  --primary-color: #24292f;
  --secondary-color: #6e767e;
  --accent-color: #3178c6;
  --link-hover-color: rgb(205 217 229 / 90%);
}
