.app_theme_green {
  --bg-color: #222629;
  --bg-color-accent: #0f0934;
  --bg-color-sidebar: #2a2c2d;
  --bg-color-header: #474b4f;
  --bg-color-muted: #222629;
  --primary-color: #86c232;
  --primary-text-color: #c8d9c5;
  --secondary-color: #87a860;
  --accent-color: #61892f;
  --link-hover-color: rgb(205 217 229 / 90%);

  //skeleton
  --skeleton-color: #758a57;
  --skeleton-shadow: #60733c;
}
