.app_theme_green {
  --bg-color: #222629	;
  --bg-color-accent: #0F0934;
  --bg-color-sidebar: #2a2c2d;
  --bg-color-header: #474B4F;
  --bg-color-muted: #222629;
  --primary-color:  #86C232;
  --secondary-color: #87a860;
  --accent-color: #61892F;
  --link-hover-color: rgb(205 217 229 / 90%);

}
