.ArticlesPageFilter {
  margin-bottom: 30px;
}

.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  min-height: unset;
}

.tabs {
  margin-top: 15px;
}
