.navbar {
  background-color: var(--bg-color-header);
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;

  a {
    margin-left: 15px;
  }
}

.appName {
  width: var(--sidebar-width);
  margin-left: 15px;
}

.createBtn {
  margin-right: auto;
}

.actions {
  margin-left: auto;
}
